{{!< common}}

<div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
	<div class="demo-crumbs mdl-color-text--grey-500">
		{{@blog.title}}
		{{#is "author"}}
			&gt; {{author.name}}
		{{else}}
			{{#is "tag"}}
				&gt; {{tag.name}}
			{{/is}}
		{{/is}}
		&gt; Index
	</div>
	<h3>Index</h3>
		{{#foreach posts}}
			<p><a href="{{url}}">{{title}}</a>
				written {{date published_at timeago="true"}}
				by {{author}}
				{{#if tags}}
					in
					{{#foreach tags}}
						<a href="{{url}}" title="{{name}}" class="tag-{{slug}}">#{{name}}</a>
					{{/foreach}}
				{{/if}}
			</p>
		{{/foreach}}
</div>
