{{!< common}}

{{#post}}
<div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
	<div class="demo-crumbs mdl-color-text--grey-500">
		{{@blog.title}}
		{{tags prefix="&gt; " separator=", " autolink="false"}}
		&gt; {{title}}
	</div>
	{{content}}
	<hr />
	<nav class="navigation" role="navigation">
		{{#next_post}}
			<a href="{{url}}">&larr; {{title}}</a>
		{{/next_post}}

		{{#prev_post}}
			<a href="{{url}}">{{title}} &rarr;</a>
		{{/prev_post}}
	</nav>
</div>
{{/post}}
